@use '../../utils/variables' as v;

.achievements {
    background-color: v.getColor(neatural-silver);

    &__inner {
        padding: 30px;
    }

    &__text {
        text-align: center;
    }

    &__title {
        margin-bottom: 8px;

        &-text {
            color: v.getColor(neatural-d-grey);
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 44px;

            &--accent {
                color: v.getColor(brand-primary);
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: 44px;
            }
        }
    }

    &__description {
        margin-bottom: 16px;

        &-text {
            color: v.getColor(neatural-grey);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 16px;

        // &-image { }

        &-text {
            width: 191px;
        }

        &-description {
            color: v.getColor(neatural-grey);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }

    &__count {
        color: v.getColor(neatural-d-grey);
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
    }
}

@media (min-width: 768px) {
    .achievements {
    
        &__list {
            flex-direction: column;
            justify-content: flex-start;
        }    
        
        &__row {
            width: 100%;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}

@media (min-width: 1024px) {
    .achievements {
    
        &__inner {
            padding: 64px 30px;
            display: flex;
            justify-content: space-between;
        }

        &__text {
            max-width: 540px;
            text-align: start;
            align-self: center;
        }

        &__description {
            margin-bottom: 0;
        }

        &__list {
            gap: 40px
        }

        &__row {
            gap: 30px;
        }
    }
}

@media (min-width: 1200px) {
    .achievements {

        &__inner {
            margin: 0 auto;
            width: 1200px;
            padding: 64px 24px;
        }
    }
}