@use '../../utils/variables' as v;

.community-updates {
    background-color: v.getColor(neatural-white);

    &__inner {
        padding: 30px;
    }

    &__text {
        text-align: center;
    }

    &__title {
        margin-bottom: 8px;

        &-text {
            color: v.getColor(neatural-d-grey);
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 44px;
        }
    }

    &__description {
        margin-bottom: 16px;

        &-text {
            color: v.getColor(neatural-grey);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }

    // &__list {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     gap: 32px;
    // }

    &__item {
        max-width: 368px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-content {
            margin-top: -96px;
            padding: 16px;
            border-radius: 8px;
            background-color: v.getColor(neatural-silver);
            box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &-title {
            margin-bottom: 16px;
            max-width: 285px;

            &-text {
                color: v.getColor(neatural-grey);
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
            }
        }

        &:nth-child(1) {
            .community-updates__image {
                background-image: url("../img/community-updates.jpg");
            }
        }

        &:nth-child(2) {
            .community-updates__image {
                background-image: url("../img/community-updates-1.jpg");
            }
        }

        &:nth-child(3) {
            .community-updates__image {
                background-image: url("../img/community-updates-2.jpg");
            }
        }

        &:nth-child(4) {
            .community-updates__image {
                background-image: url("../img/community-updates.jpg");
            }
        }

        &:nth-child(5) {
            .community-updates__image {
                background-image: url("../img/community-updates-1.jpg");
            }
        }

        &:nth-child(6) {
            .community-updates__image {
                background-image: url("../img/community-updates-2.jpg");
            }
        }
    }

    &__image {
        width: 100%;
        height: 286px;
        border-radius: 8px;
        background: lightgray 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-self: stretch;
        padding: 8px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 8px;

        &-text {
            color: v.getColor(brand-primary);
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
        }
    }
}

@media (min-width: 768px) {
    .community-updates {

        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__description {
            max-width: 628px;
        }

        // &__list {
        //     flex-direction: row;
        //     flex-wrap: wrap;
        //     justify-content: space-evenly;
        // }
    }
}

@media (min-width: 1200px) {
    .community-updates {

        &__inner {
            margin: 0 auto;
            width: 1200px;
            padding: 48px 24px 96px;
        }

        // &__list {
        //     flex-wrap: nowrap;
        //     justify-content: space-between;
        // }
    }
}

.swiper {
    padding-bottom: 20px;
    max-width: 368px;
    
    &-slide {
        padding: 20px;

    }

    &-pagination {
        --swiper-pagination-bottom: 0;

        &-bullet-active {
            background-color: v.getColor(brand-primary);
        }
    }
}

@media (min-width: 768px) {
    .swiper {
        max-width: 736px;
    }
}

@media (min-width: 1200px) {
    .swiper {
        max-width: 1004px;
    }
}
