@use '../../utils/variables' as v;

.community {
    background-color: v.getColor(neatural-white);

    &__inner {
        padding: 0 30px;
        padding-bottom: 42px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__title {
        max-width: 542px;
        margin-bottom: 8px;

        &-text {
            color: v.getColor(neatural-d-grey);
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 44px;
        }
    }

    &__description {
        margin-bottom: 16px;

        &-text {
            color: v.getColor(neatural-d-grey);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 16px;
    }

    &__item {
        max-width: 299px;
        padding: 24px 32px;

        border-radius: 8px;
        background: v.getColor(neatural-white);
        box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.20);

        display: flex;
        flex-direction: column;
        text-align: center;

        &-image {
            margin: 0 auto;
            margin-bottom: 16px;
        }

        &-title {
            margin-bottom: 8px;

            &-text {
                color: v.getColor(neatural-d-grey);
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: 36px;
            }
        }

        &-description {

            &-text {
                color: v.getColor(neatural-d-grey);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .community {
    
        &__inner {
            margin: 0 auto;
            width: 1200px;
            padding: 0 24px;
        }

        &__list {
            justify-content: space-between;
        }
    }
}