.customer {
    background: var(--neutral-silver, #F5F7FA);
    margin-bottom: 33.41px;

    &__inner {
        max-width: 850px;
        margin: 0 auto;
        padding: 22.27px 24px;
        display: flex;
        align-items: center;
        gap: 54.293px;
        // justify-content: space-between;
    }

    &__image {
        width: 226.919px;
        height: 226.919px;
        flex-shrink: 0;
        border-radius: 5.569px;
        background: url("/img/brand.jpg"), lightgray 50% / cover no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0px 5.56856px 11.13711px 0px rgba(171, 190, 209, 0.40);
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 22.274px;
        flex: 1 0 0;
    }

    &__text-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 11.137px;
        align-self: stretch;

        p {
            color: var(--neutral-grey, #717171);
            font-family: Inter;
            font-size: 11.137px;
            font-style: normal;
            font-weight: 500;
            line-height: 16.706px;
            align-self: stretch;
        }
    }

    &__text-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5.569px;
        align-self: stretch;

        p:nth-child(1) {
            color: var(--brand-primary, #4CAF4F);
            font-family: Inter;
            font-size: 13.921px;
            font-style: normal;
            font-weight: 600;
            line-height: 19.49px;
            align-self: stretch;
        }

        p {
            color: var(--neutral-l-grey, #89939E);
            font-family: Inter;
            font-size: 11.137px;
            font-style: normal;
            font-weight: 400;
            line-height: 16.706px;
            align-self: stretch;
        }
    }

    &__brand {
        display: flex;
        align-items: center;
        gap: 22.274px;
        align-self: stretch;
    }

    &__brand-list {
        display: flex;
        align-items: center;
        gap: 28.539px;
    }

    &__brand-button {
        display: flex;
        padding: 5.569px;
        align-items: center;
        gap: 5.569px;
        flex: 1 0 0;

        p {
            width: 130.861px;
            color: var(--brand-primary, #4CAF4F);
            font-family: Inter;
            font-size: 13.921px;
            font-style: normal;
            font-weight: 600;
            line-height: 19.49px;
        }

        img {
            display: flex;
            width: 16.706px;
            height: 16.706px;
            padding: 5.569px 3.48px 5.569px 3.073px;
            justify-content: center;
            align-items: center;
        }
    }
}