@use '../../utils/variables' as v;

.our-clients {
    background-color: v.getColor(neatural-white);

    &__inner {
        padding: 30px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 8px;

        &-text {
            color: v.getColor(neatural-d-grey);
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 44px;
        }
    }

    &__description {
        margin-bottom: 16px;

        &-text {
            color: v.getColor(neatural-grey);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;        
        gap: 5%;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .our-clients {
    
        &__inner {
            margin: 0 auto;
            width: 1200px;
            padding: 40px 24px;
        }
    
        &__list {
            display: flex;
            justify-content: space-between;
        }
    
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}