.unlock {
    background-color: white;
    margin-bottom: 33.41px;

    &__inner {
        max-width: 850px;
        margin: 0 auto;
        padding: 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__image {
        width: 307.663px;
        height: 301.398px;
        padding: 36.196px 0px 36.199px 0px;
    }

    &__text {
        display: flex;
        width: 460.102px;
        flex-direction: column;
        align-items: flex-start;
        gap: 22.274px;
    }

    &__title {
        display: flex;
        width: 418.338px;
        flex-direction: column;
        align-items: flex-start;
        gap: 11.137px;

        &-text {
            color: var(--neutral-d-grey, #4D4D4D);
            font-family: Inter;
            font-size: 25.059px;
            font-style: normal;
            font-weight: 600;
            line-height: 30.627px;
        }

        &-description {
            color: var(--neutral-grey, #717171);
            font-family: Inter;
            font-size: 9.745px;
            font-style: normal;
            font-weight: 400;
            line-height: 13.921px;
            /* 142.857% */
        }
    }

    &__button {
        display: flex;
        padding: 9.745px 22.274px;
        justify-content: center;
        align-items: center;
        gap: 6.961px;
        border-radius: 2.784px;
        background: var(--brand-primary, #4CAF4F);

        color: var(--neutral-white, #FFF);
        text-align: center;
        font-family: Inter;
        font-size: 11.137px;
        font-style: normal;
        font-weight: 500;
        line-height: 16.706px;
        outline: none;
        border: none;
        cursor: pointer;
    }
}