@use '../utils/variables' as v;

.footer {

    &__text-wrapper {
        background-color: v.getColor(neatural-silver);
        padding: 30px;
    }

    &__text {
        text-align: center;
    }

    &__title {
        margin-bottom: 32px;

        &-text {
            color: v.getColor(neatural-black);
            font-size: 38px;
            font-style: normal;
            font-weight: 600;
            line-height: 50px;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        padding: 14px 32px;
        margin: 0 auto;
        gap: 8px;
        background-color: v.getColor(brand-primary);
        text-wrap: nowrap;

        &-text {
            color: v.getColor(neatural-white);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }
    }

    &__content-wrapper {
        background-color: v.getColor(neatural-black);
        padding: 48px 30px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 24px;

    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__copyright {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &-text {
            color: v.getColor(neatural-silver);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }

    &__socials {
        display: flex;
        gap: 16px;

        &-item {}

        &-link {}
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__company {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-title {
            color: v.getColor(neatural-white);
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    }

    &__company-item {

        &-link {
            color: v.getColor(neatural-silver);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }

    &__support {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-title {
            color: v.getColor(neatural-white);
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    }

    &__support-item {

        &-link {
            color: v.getColor(neatural-silver);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }

    &__email {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-title {
            color: v.getColor(neatural-white);
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
        }
    }

    &__input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 255px;
        padding: 10px 12px;
        border-radius: 8px;
        background-color: #36464e;

        &-field {
            border: none;
            outline: none;
            background-color: transparent;

            color: v.getColor(neatural-silver);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;

            &::placeholder {
                color: v.getColor(neatural-l-grey);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }
        }

        &-button {
            background-color: transparent;
        }
    }
}


@media (min-width: 768px) {
    .footer {

        &__text-wrapper {
            padding: 32px 30px;
        }

        &__title {
            max-width: 887px;

            &-text {
                font-size: 64px;
                line-height: 76px;
            }
        }

        &__content-wrapper {
            padding: 64px 30px;
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

// .footer {

//     &__inner--content,
//     &__inner--text {
//         max-width: 850px;
//         margin: 0 auto;
//         padding: 0 24px;
//     }

//     &__inner--text {
//         display: flex;
//         width: 1002.34px;
//         padding: 22.274px 0px;
//         flex-direction: column;
//         align-items: center;
//         gap: 22.274px;
//     }

//     &__inner--content {
//         display: flex;
//         padding: 44.548px 15px;
//         align-items: flex-start;
//         gap: 87.009px;
//     }

//     &__text {
//         background: var(--neutral-silver, #F5F7FA);
//     }

//     &__title {
//         width: 617.414px;
//         color: var(--neutral-black, #263238);
//         text-align: center;
//         font-family: Inter;
//         font-size: 44.548px;
//         font-style: normal;
//         font-weight: 600;
//         line-height: 52.901px;
//         /* 118.75% */
//     }

//     &__button {
//         display: flex;
//         padding: 9.745px 22.274px;
//         justify-content: center;
//         align-items: center;
//         gap: 6.961px;
//         border-radius: 2.784px;
//         background: var(--brand-primary, #4CAF4F);

//         color: var(--neutral-white, #FFF);
//         text-align: center;
//         font-family: Inter;
//         font-size: 11.137px;
//         font-style: normal;
//         font-weight: 500;
//         line-height: 16.706px;
//         outline: none;
//         border: none;
//         cursor: pointer;
//     }

//     &__content {

//         background: var(--neutral-black, #263238);
//     }

//     &__company-info {
//         display: flex;
//         flex-direction: column;
//         align-items: flex-start;
//         gap: 27.843px;

//         .company-info__copyright {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             gap: 5.569px;

//             p {
//                 width: 243.624px;
//                 color: var(--neutral-silver, #F5F7FA);
//                 font-family: Inter;
//                 font-size: 9.745px;
//                 font-style: normal;
//                 font-weight: 400;
//                 line-height: 13.921px;
//                 /* 142.857% */
//             }
//         }

//         .company-info__socials {
//             display: flex;
//             align-items: flex-start;
//             gap: 11.137px;

//             li {
//                 width: 22.274px;
//                 height: 22.274px;
//             }
//         }
//     }

//     &__company-links {
//         display: flex;
//         align-items: flex-start;
//         gap: 20.882px;

//         .company-links__support,
//         .company-links__company {
//             display: flex;
//             flex-direction: column;
//             align-items: flex-start;
//             gap: 16.706px;

//             .support__title,
//             .company__title {
//                 width: 111.371px;
//                 color: var(--neutral-white, #FFF);
//                 font-family: Inter;
//                 font-size: 13.921px;
//                 font-style: normal;
//                 font-weight: 600;
//                 line-height: 19.49px;
//                 /* 140% */
//             }

//             .support__list,
//             .company__list {
//                 display: flex;
//                 flex-direction: column;
//                 align-items: flex-start;
//                 gap: 8.353px;

//                 .support__item,
//                 .company__item {
//                     width: 111.371px;
//                     color: var(--neutral-silver, #F5F7FA);
//                     font-family: Inter;
//                     font-size: 9.745px;
//                     font-style: normal;
//                     font-weight: 400;
//                     line-height: 13.921px;
//                     /* 142.857% */
//                 }
//             }
//         }

//         .company-links__up-to-date {
//             display: flex;
//             flex-direction: column;
//             align-items: flex-start;
//             gap: 16.706px;

//             .up-to-date__title {
//                 width: 111.371px;
//                 color: var(--neutral-white, #FFF);
//                 font-family: Inter;
//                 font-size: 13.921px;
//                 font-style: normal;
//                 font-weight: 600;
//                 line-height: 19.49px;
//                 /* 140% */
//             }

//             .up-to-date__input {
//                 display: flex;
//                 justify-content: space-between;
//                 width: 177.498px;
//                 height: 27.843px;
//                 border-radius: 5.569px;
//                 background: var(--default-white, #FFF);

//                 input {
//                     border: none;
//                     outline: none;
//                 }

//                 input::placeholder {
//                     color: var(--text-gray-300, #D9DBE1);
//                     font-family: Inter;
//                     font-size: 9.745px;
//                     font-style: normal;
//                     font-weight: 400;
//                     line-height: 13.921px;
//                     /* 142.857% */
//                 }

//                 img {
//                     width: 12.529px;
//                     height: 12.529px;
//                     flex-shrink: 0;
//                 }
//             }
//         }
//     }
// }