@use '../utils/variables' as v;

.header {
    background-color: v.getColor(neatural-silver);

    &__inner {
        height: 84px;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        max-width: 154px;
        height: 24px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__menu {
        display: none;

        &-list {
            display: flex;
            gap: 30px;
        }

        // &-item { }

        &-link {
            color: v.getColor(neatural-black);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }
    }

    &__button-wrapper {
        display: none;
        align-items: center;
        gap: 14px;
        text-wrap: nowrap;
    }

    &__button--login {
        display: flex;
        padding: 10px 20px;
        align-items: center;
        gap: 10px;
        border-radius: 6px;
        background-color: transparent;
        color: v.getColor(brand-primary);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    &__button--signup {
        display: flex;
        padding: 10px 20px;
        align-items: center;
        gap: 10px;
        border-radius: 6px;
        background: v.getColor(brand-primary);
        color: v.getColor(neatural-white);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }
}

@media (min-width: 768px) {
    .header {

        &__button-wrapper {
            display: flex;
        }
    }
}

@media (min-width: 1024px) {
    .header {

        &__menu {
            display: flex;

            &-list {
                justify-content: center;
                align-items: center;
            }

        }
    }
}

@media (min-width: 1263px) {
    .header {

        &__inner {
            margin: 0 auto;
            width: 1263px;
            padding: 0px 24px;
        }

        &__menu-list {
            gap: 50px
        }
    }
}