@use '../utils/variables' as v;

.header {
    background-color: v.getColor(neatural-silver);

    &__inner {
        height: 84px;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        max-width: 154px;
        height: 24px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__menu {
        display: none;

        &-list {
            display: flex;
            gap: 30px;
        }

        // &-item { }

        &-link {
            color: v.getColor(neatural-black);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }
    }

    &__button {
        display: flex;
        padding: 10px 20px;
        align-items: center;
        gap: 10px;
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;

        &-wrapper {
            display: none;
            align-items: center;
            gap: 14px;
            text-wrap: nowrap;
            margin-left: auto;
        }

        &--login {
            background-color: transparent;
            color: v.getColor(brand-primary);
        }

        &--signup {
            background: v.getColor(brand-primary);
            color: v.getColor(neatural-white);
        }

        &--burger {
            margin-left: 30px;
            background-color: transparent;

            div {
                width: 25px;
                height: 3px;
                background-color: v.getColor(brand-primary);
                margin: 4px 0;
                border-radius: 3px;
            }
        }

    }
}

@media (min-width: 768px) {
    .header {

        &__button-wrapper {
            display: flex;
        }
    }
}

@media (min-width: 1024px) {
    .header {

        &__menu {
            display: flex;

            &-list {
                justify-content: center;
                align-items: center;
            }
        }

        &__button {

            &-wrapper {
                margin-left: 0;
            }

            &--burger {
                display: none;
            }
        }
    }
}

@media (min-width: 1263px) {
    .header {

        &__inner {
            margin: 0 auto;
            width: 1263px;
            padding: 0px 24px;
        }

        &__menu-list {
            gap: 50px
        }
    }
}

.burger {
    padding: 30px;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    background-color: v.getColor(neatural-silver);
    z-index: 1;
    transform: translateX(0%);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 300ms transform;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__button {

        &-wrapper {
            position: absolute;
            bottom: 30px;
            right: 30px;
            display: flex;
            gap: 14px;
        }

        &--close {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 24px;
            height: 24px;
            opacity: 1;
            cursor: pointer;

            &::before,
            &::after {
                position: absolute;
                left: 10px;
                content: ' ';
                height: 25px;
                width: 3px;
                background-color: v.getColor(brand-primary);
                border-radius: 3px;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }
    }

    &__menu {

        &-list {
            text-align: right;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        // &-item {}

        &-link {
            flex-grow: 1;
            color: v.getColor(neatural-black);
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 48px;
        }
    }
}

.burger.is-hidden {
    transform: translateX(100%);
}