<div class="achievements">
    <div class="achievements__inner">
        <div class="achievements__heading">
            <h2 class="achievements__heading-text">Helping a local <span>business reinvent itself</span></h2>
            <p class="achievements__heading-description">
                We reached here with our hard work and dedication
            </p>
        </div>
        <div class="achievements__counts">
            <div class="achievements__counts-row">
                <div class="achievements__counts-group">
                    <img src="svg/ach-icon.svg" width="33.411" height="33.411">
                    <div class="achievements__counts-text">
                        <h2>2,245,341</h2>
                        <p>Members</p>
                    </div>
                </div>
                <div class="achievements__counts-group">
                    <img src="svg/ach-icon1.svg" width="33.411" height="33.411">
                    <div class="achievements__counts-text">
                        <h2>46,328</h2>
                        <p>Clubs</p>
                    </div>
                </div>

            </div>
            <div class="achievements__counts-row">
                <div class="achievements__counts-group">
                    <img src="svg/ach-icon2.svg" width="33.411" height="33.411">
                    <div class="achievements__counts-text">
                        <h2>828,867</h2>
                        <p>Event Bookings</p>
                    </div>
                </div>
                <div class="achievements__counts-group">
                    <img src="svg/ach-icon3.svg" width="33.41" height="33.411">
                    <div class="achievements__counts-text">
                        <h2>1,926,436</h2>
                        <p>Payments</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>