<div class="community-updates">
    <div class="community-updates__inner">
        <div class="community-updates__text">
            <h2 class="text__title--community-updates">Caring is the new marketing</h2>
            <p class="text__description--community-updates">The Nextcent blog is the best place to read about the
                latest membership insights, trends and more. See who's joining the community, read about how our
                community are increasing their membership income and lot's more.​</p>
        </div>
        <div class="community-updates__cards">
            <div class="community-updates__card">
                <img class="card__image--community-updates" src="./img/community-updates-1.jpg" alt=""
                    width="256.154" height="199.076">
                <div class="card__content--community-updates">
                    <p class="card__text--community-updates">Creating Streamlined Safeguarding Processes with OneRen
                    </p>
                    <div class="card__button--community-updates">
                        Readmore
                        <img src="svg/green-arrow.svg" width="10.153" height="5.569">
                    </div>
                </div>
            </div>
            <div class="community-updates__card">
                <img class="card__image--community-updates" src="./img/community-updates-2.jpg" alt=""
                    width="256.154" height="199.076">
                <div class="card__content--community-updates">
                    <p class="card__text--community-updates">What are your safeguarding responsibilities and how can
                        you manage them?</p>
                    <div class="card__button--community-updates">
                        Readmore
                        <img src="svg/green-arrow.svg" width="10.153" height="5.569">
                    </div>
                </div>
            </div>
            <div class="community-updates__card">
                <img class="card__image--community-updates" src="./img/community-updates-3.jpg" alt=""
                    width="256.154" height="199.076">
                <div class="card__content--community-updates">
                    <p class="card__text--community-updates">Revamping the Membership Model with Triathlon Australia
                    </p>
                    <div class="card__button--community-updates">
                        Readmore
                        <img src="svg/green-arrow.svg" width="10.153" height="5.569">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>