<section class="community-updates">
    <div class="community-updates__inner">
        <div class="community-updates__text">
            <div class="community-updates__title">
                <h2 class="community-updates__title-text">
                    Caring is the new marketing
                </h2>
            </div>
            <div class="community-updates__description">
                <p class="community-updates__description-text">
                    The Nexcent blog is the best place to read about the latest membership insights, trends and more.
                    See who's joining the community, read about how our community are increasing their membership income
                    and lot's more.​
                </p>
            </div>
        </div>
        <div class="swiper">
            <ul class="swiper-wrapper"> <!--community-updates__list-->
                <li class="swiper-slide community-updates__item">
                    <div class="community-updates__image"></div>
                    <div class="community-updates__item-content">
                        <div class="community-updates__item-title">
                            <p class="community-updates__item-title-text">
                                Creating Streamlined Safeguarding Processes with OneRen
                            </p>
                        </div>
                        <div class="community-updates__button">
                            <a class="community-updates__link" data-modal-open>
                                <p class="community-updates__link-text">Readmore</p>
                                <img src="svg/green-arrow.svg" width="24" height="24" alt="green arrow">
                            </a>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide community-updates__item">
                    <div class="community-updates__image"></div>
                    <div class="community-updates__item-content">
                        <div class="community-updates__item-title">
                            <p class="community-updates__item-title-text">
                                Creating Streamlined Safeguarding Processes with OneRen
                            </p>
                        </div>
                        <div class="community-updates__button">
                            <a class="community-updates__link" data-modal-open>
                                <p class="community-updates__link-text">Readmore</p>
                                <img src="svg/green-arrow.svg" width="24" height="24" alt="green arrow">
                            </a>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide community-updates__item">
                    <div class="community-updates__image"></div>
                    <div class="community-updates__item-content">
                        <div class="community-updates__item-title">
                            <p class="community-updates__item-title-text">
                                Creating Streamlined Safeguarding Processes with OneRen
                            </p>
                        </div>
                        <div class="community-updates__button">
                            <a class="community-updates__link" data-modal-open>
                                <p class="community-updates__link-text">Readmore</p>
                                <img src="svg/green-arrow.svg" width="24" height="24" alt="green arrow">
                            </a>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide community-updates__item">
                    <div class="community-updates__image"></div>
                    <div class="community-updates__item-content">
                        <div class="community-updates__item-title">
                            <p class="community-updates__item-title-text">
                                Creating Streamlined Safeguarding Processes with OneRen
                            </p>
                        </div>
                        <div class="community-updates__button">
                            <a class="community-updates__link" data-modal-open>
                                <p class="community-updates__link-text">Readmore</p>
                                <img src="svg/green-arrow.svg" width="24" height="24" alt="green arrow">
                            </a>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide community-updates__item">
                    <div class="community-updates__image"></div>
                    <div class="community-updates__item-content">
                        <div class="community-updates__item-title">
                            <p class="community-updates__item-title-text">
                                Creating Streamlined Safeguarding Processes with OneRen
                            </p>
                        </div>
                        <div class="community-updates__button">
                            <a class="community-updates__link" data-modal-open>
                                <p class="community-updates__link-text">Readmore</p>
                                <img src="svg/green-arrow.svg" width="24" height="24" alt="green arrow">
                            </a>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide community-updates__item">
                    <div class="community-updates__image"></div>
                    <div class="community-updates__item-content">
                        <div class="community-updates__item-title">
                            <p class="community-updates__item-title-text">
                                Creating Streamlined Safeguarding Processes with OneRen
                            </p>
                        </div>
                        <div class="community-updates__button">
                            <a class="community-updates__link" data-modal-open>
                                <p class="community-updates__link-text">Readmore</p>
                                <img src="svg/green-arrow.svg" width="24" height="24" alt="green arrow">
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>