<section class="community" id="community">
    <div class="community__inner">
        <div class="community__text">
            <div class="community__title">
                <h2 class="community__title-text">Manage your entire community in a single system</h2>
            </div>
            <div class="community__description">
                <p class="community__description-text">Who is Nextcent suitable for?
                </p>
            </div>
        </div>
        <ul class="community__list">
            <li class="community__item">
                <img class="community__item-image" src="svg/member-1.svg" width="65" height="56" alt="suitable">
                <div class="community__item-title">
                    <h2 class="community__item-title-text">Membership Organisations</h2>
                </div>
                <div class="community__item-description">
                    <p class="community__item-description-text">Our membership management software
                        provides full automation of membership renewals and payments</p>
                </div>
            </li>
            <li class="community__item">
                <img class="community__item-image" src="svg/member-2.svg" width="65" height="56" alt="suitable-1">
                <div class="community__item-title">
                    <h2 class="community__item-title-text">National Associations</h2>
                </div>
                <div class="community__item-description">
                    <p class="community__item-description-text">Our membership management software
                        provides full automation of membership renewals and payments</p>
                </div>
            </li>
            <li class="community__item">
                <img class="community__item-image" src="svg/member-3.svg" width="65" height="56" alt="suitable-2">
                <div class="community__item-title">
                    <h2 class="community__item-title-text">Clubs And Groups</h2>
                </div>
                <div class="community__item-description">
                    <p class="community__item-description-text">Our membership management software
                        provides full automation of membership renewals and payments</p>
                </div>
            </li>
        </ul>
    </div>
</section>