<div class="community">
    <div class="community__inner">
        <div class="community__text text">
            <h2 class="text__title--community text__title">Manage your entire community in a single system</h2>
            <p class="text__description--community text__description">Who is Nextcent suitable for?</p>
        </div>

        <ul class="suitables">
            <li class="suitables__item">
                <div class="suitables__title">
                    <img class="suitables__title-image" src="svg/member-1.svg" width="45.245" height="38.98"
                        alt="member">
                    <h2 class="suitables__title-text">Membership Organisations</h2>
                </div>
                <p class="suitables__description">Our membership management software
                    provides full automation of membership renewals and payments</p>
            </li>
            <li class="suitables__item">
                <div class="suitables__title">
                    <img class="suitables__title-image" src="svg/member-2.svg" width="45.245" height="38.98"
                        alt="member">
                    <h2 class="suitables__title-text">National Associations</h2>
                </div>
                <p class="suitables__description">Our membership management software
                    provides full automation of membership renewals and payments</p>
            </li>
            <li class="suitables__item">
                <div class="suitables__title">
                    <img class="suitables__title-image" src="svg/member-3.svg" width="45.245" height="38.98"
                        alt="member">
                    <h2 class="suitables__title-text">Clubs And Groups</h2>
                </div>
                <p class="suitables__description">Our membership management software
                    provides full automation of membership renewals and payments</p>
            </li>
        </ul>
    </div>
</div>