<div class="customer">
    <div class="customer__inner">
        <div class="customer__image"></div>
        <div class="customer__text">
            <div class="customer__text-content">
                <p>Maecenas dignissim justo eget nulla rutrum molestie. Maecenas lobortis sem dui, vel rutrum risus
                    tincidunt ullamcorper. Proin eu enim metus. Vivamus sed libero ornare, tristique quam in,
                    gravida enim. Nullam ut molestie arcu, at hendrerit elit. Morbi laoreet elit at ligula molestie,
                    nec molestie mi blandit. Suspendisse cursus tellus sed augue ultrices, quis tristique nulla
                    sodales. Suspendisse eget lorem eu turpis vestibulum pretium. Suspendisse potenti. Quisque
                    malesuada enim sapien, vitae placerat ante feugiat eget. Quisque vulputate odio neque, eget
                    efficitur libero condimentum id. Curabitur id nibh id sem dignissim finibus ac sit amet magna.
                </p>
                <div class="customer__text-title">
                    <p>Tim Smith</p>
                    <p>British Dragon Boat Racing Association</p>
                </div>
            </div>

            <div class="customer__brand">
                <ul class="customer__brand-list">
                    <li><img src="svg/brand.svg" alt=""></li>
                    <li><img src="svg/brand1.svg" alt=""></li>
                    <li><img src="svg/brand2.svg" alt=""></li>
                    <li><img src="svg/brand3.svg" alt=""></li>
                    <li><img src="svg/brand4.svg" alt=""></li>
                    <li><img src="svg/brand5.svg" alt=""></li>
                </ul>
                <div class="customer__brand-button">
                    <p>Meet all customers</p>
                    <img src="svg/green-arrow.svg" width="10.153" height="5.569">
                </div>
            </div>
        </div>
    </div>
</div>