<div class="main">
    <div class="main__inner">
        <div class="frame">
            <div class="frame__title title">
                <h1 class="title__text">Lessons and insights <span>from 8 years</span></h1>
            </div>
            <div class="frame__description description">
                <p class="description__text">Where to grow your business as a photographer: site or social media?
                </p>
            </div>

            <div class="register-button">
                <p class="register-button__title">Register</p>
            </div>
        </div>
        <div class="illustration">
            <img src="svg/Illustration.svg" alt="">
        </div>
        <div class="ellipses">
            <img src="svg/filled-ellipse.svg" width="6.961" height="6.961" alt="filled-ellipse">
            <img src="svg/ellipse.svg" width="6.961" height="6.961" alt="ellipse">
            <img src="svg/ellipse.svg" width="6.961" height="6.961" alt="ellipse">
        </div>
    </div>
</div>