<section class="hero" id="hero">
    <div class="hero__inner">
        <div class="hero__text">
            <div class="hero__title">
                <h1 class="hero__title-text">Lessons and insights 
                    <span class="hero__title-text--accent">from 8 years</span>
                </h1>
            </div>
            <div class="hero__description">
                <p class="hero__description-text">Where to grow your business as a photographer: site or social media?</p>
            </div>
            <button class="hero__button" type="button" data-modal-open>Register</button>
        </div>
        <div class="hero__illustration">
            <img class="hero__illustration-image" src="svg/Illustration.svg" alt="hero illustration">
        </div>
    </div>
</section>