<div class="our-clients">
    <div class="our-clients__inner">
        <div class="our-clients__text text">
            <h2 class="text__title--our-clients text__title">Our Clients</h2>
            <p class="text__description--our-clients text__description">We have been working with some Fortune
                500+ clients</p>
        </div>
        <ul class="our-clients__clients-list">
            <li class="clients-list__item--our-clients">
                <svg width="34" height="34" viewBox="0 0 34 34">
                    <use href="svg/clients.svg#client-1"></use>
                </svg>
            </li>
            <li class="clients-list__item--our-clients">
                <svg width="34" height="34" viewBox="0 0 34 34">
                    <use href="svg/clients.svg#client-2"></use>
                </svg>
            </li>
            <li class="clients-list__item--our-clients">
                <svg width="34" height="34" viewBox="0 0 34 34">
                    <use href="svg/clients.svg#client-3"></use>
                </svg>
            </li>
            <li class="clients-list__item--our-clients">
                <svg width="34" height="34" viewBox="0 0 34 34">
                    <use href="svg/clients.svg#client-4"></use>
                </svg>
            </li>
            <li class="clients-list__item--our-clients">
                <svg width="34" height="34" viewBox="0 0 34 34">
                    <use href="svg/clients.svg#client-5"></use>
                </svg>
            </li>
            <li class="clients-list__item--our-clients">
                <svg width="34" height="34" viewBox="0 0 34 34">
                    <use href="svg/clients.svg#client-6"></use>
                </svg>
            </li>
            <li class="clients-list__item--our-clients">
                <svg width="34" height="34" viewBox="0 0 34 34">
                    <use href="svg/clients.svg#client-7"></use>
                </svg>
            </li>
        </ul>
    </div>
</div>