<section class="out-clients">
    <div class="our-clients__inner">
        <div class="our-clients__text">
            <div class="our-clients__title">
                <h1 class="our-clients__title-text">Our Clients</h1>
            </div>
            <div class="our-clients__description">
                <p class="our-clients__description-text">We have been working with some Fortune 500+ clients</p>
            </div>
        </div>
        <ul class="our-clients__list">
            <li class="our-clients__item">
                <svg width="48" height="48" viewBox="0 0 48 48">
                    <use href="svg/clients.svg#client-1"></use>
                </svg>
            </li>
            <li class="our-clients__item">
                <svg width="48" height="48" viewBox="0 0 48 48">
                    <use href="svg/clients.svg#client-2"></use>
                </svg>
            </li>
            <li class="our-clients__item">
                <svg width="48" height="48" viewBox="0 0 48 48">
                    <use href="svg/clients.svg#client-3"></use>
                </svg>
            </li>
            <li class="our-clients__item">
                <svg width="48" height="48" viewBox="0 0 48 48">
                    <use href="svg/clients.svg#client-4"></use>
                </svg>
            </li>
            <li class="our-clients__item">
                <svg width="48" height="48" viewBox="0 0 48 48">
                    <use href="svg/clients.svg#client-5"></use>
                </svg>
            </li>
            <li class="our-clients__item">
                <svg width="48" height="48" viewBox="0 0 48 48">
                    <use href="svg/clients.svg#client-6"></use>
                </svg>
            </li>
            <li class="our-clients__item">
                <svg width="48" height="48" viewBox="0 0 48 48">
                    <use href="svg/clients.svg#client-7"></use>
                </svg>
            </li>
        </ul>
    </div>
</section>