<div class="unlock">
    <div class="unlock__inner">
        <div class="unlock__image">
            <img src="svg/rafiki.svg" alt="">
        </div>
        <div class="unlock__text">
            <div class="unlock__title">
                <h2 class="unlock__title-text">The unseen of spending three years at Pixelgrade</h2>
                <p class="unlock__title-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    sit amet justo ipsum. Sed
                    accumsan
                    quam vitae est varius fringilla. Pellentesque placerat vestibulum lorem sed porta. Nullam
                    mattis
                    tristique iaculis. Nullam pulvinar sit amet risus pretium auctor. Etiam quis massa pulvinar,
                    aliquam quam vitae, tempus sem. Donec elementum pulvinar odio.</p>
            </div>
            <button class="unlock__button">Learn More</button>
        </div>
    </div>
</div>