body {
    background-color: black;
    span {
        color: white;
    }
    background: url('@img/870886.jpg') 0 0 no-repeat;
}

@media (max-width: 768px) {
    span {
        color: red;
    }
}

@media (max-width: 768px) {
    body {
        background-color: #fff;
    }
}